@font-face {
  font-family: Gilroy-Regular;
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(../fonts/Gilroy-Semibold.ttf);
}

@font-face {
  font-family: GoogleSans-Regular;
  src: url(../fonts/GoogleSans-Regular.ttf);
}

@font-face {
  font-family: SofiaPro-Regular;
  src: url(../fonts/SofiaPro-Regular.ttf);
}

@font-face {
  font-family: SofiaPro-Black;
  src: url(../fonts/SofiaPro-Black.ttf);
}

svg:not(:root) {
  vertical-align: baseline;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body .container {
  max-width: 1920px;
  padding: 0 !important;
}

body .container .custom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  overflow: hidden;
}

body .container .custom-container .height-100 {
  height: 100vh;
}

body .container .custom-container .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

body .container .custom-container .left-section .navbar {
  display: block;
  height: 131px;
  padding: 0;
  background-color: #f6f7fb;
}

body .container .custom-container .left-section .navbar .row .navbar-toggle-btn {
  max-width: 131px;
}

body .container .custom-container .left-section .navbar .row .navbar-toggle-btn .toggle-btn {
  width: 100%;
  height: 131px;
  background-color: #393d46;
  border-radius: 0;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .container .custom-container .left-section .navbar .row .navbar-toggle-btn .toggle-btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .container .custom-container .left-section .navbar .row .navbar-toggle-btn .toggle-btn:hover {
  background-color: #ff6647;
}

body .container .custom-container .left-section .navbar .row .center-header {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

body .container .custom-container .left-section .navbar .row .navbar-leftside {
  padding: 0;
  padding-left: 44px;
}

body .container .custom-container .left-section .navbar .row .navbar-leftside .navbar-title {
  font-family: Gilroy-SemiBold;
  font-size: 26px;
}

body .container .custom-container .left-section .navbar .row .navbar-rightside {
  padding: 0;
  padding-right: 31px;
  padding-left: 44px;
}

body .container .custom-container .left-section .navbar .row .navbar-rightside .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .custom-container .left-section .navbar .row .navbar-rightside .search-form label {
  width: 100%;
  height: 52px;
  border-radius: 26px;
  background: #ffffff;
  padding: 15px;
  -webkit-box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.02);
}

body .container .custom-container .left-section .navbar .row .navbar-rightside .search-form label .search-bar {
  width: 100%;
  border: 0;
  color: #afafaf;
  font-family: GoogleSans-Regular;
  margin-left: 13px;
  padding: 0;
  font-size: 15px;
  padding: 0 5px;
}

body .container .custom-container .left-section .navbar .row .navbar-rightside .search-form label .search-bar:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .container .custom-container .left-section .navbar .row .navbar-rightside .search-form .search-filter {
  width: 52px;
  height: 52px;
  padding: 17px;
  border-radius: 50%;
  background-color: #ff6647;
  margin-left: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 10px 20px #f86649b0;
          box-shadow: 0px 10px 20px #f86649b0;
  -webkit-backdrop-filter: blur(28px);
          backdrop-filter: blur(28px);
}

body .container .custom-container .left-section .main-content {
  overflow-x: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: initial;
      flex-shrink: initial;
}

body .container .custom-container .left-section .main-content .left-side {
  height: 100%;
  max-width: 131px;
  padding: 0;
  background-color: #f6f7fb;
  overflow-x: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .container .custom-container .left-section .main-content .left-side .list-group {
  height: 100%;
  border-radius: 0;
  padding-top: 56px;
  overflow-y: auto;
}

body .container .custom-container .left-section .main-content .left-side .list-group::-webkit-scrollbar {
  width: 3px;
}

body .container .custom-container .left-section .main-content .left-side .list-group::-webkit-scrollbar-track {
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px #f6f7fb;
          box-shadow: inset 0 0 6px #f6f7fb;
}

body .container .custom-container .left-section .main-content .left-side .list-group::-webkit-scrollbar-thumb {
  background-color: #ff6647;
  border-radius: 10px;
}

body .container .custom-container .left-section .main-content .left-side .list-group .list-group-item {
  margin-bottom: 30px;
  border: 0;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

body .container .custom-container .left-section .main-content .left-side .list-group .list-group-item .menu-icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
}

body .container .custom-container .left-section .main-content .left-side .list-group .list-group-item .menu-icon::after {
  content: "";
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  opacity: 0.3;
  position: absolute;
  border-radius: 50%;
  top: -15px;
  left: 30px;
}

body .container .custom-container .left-section .main-content .left-side .list-group .list-group-item .menu-name {
  font-family: GoogleSans-Regular;
  font-size: 12px;
  color: #7987a5;
  margin-top: 16px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .container .custom-container .left-section .main-content .left-side .list-group .active-item .menu-icon {
  background-color: #ff6647;
  -webkit-box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
          box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
}

body .container .custom-container .left-section .main-content .left-side .list-group .active-item .menu-icon svg {
  fill: #ffffff;
}

body .container .custom-container .left-section .main-content .left-side .list-group .active-item .menu-icon svg path {
  fill: #ffffff;
}

body .container .custom-container .left-section .main-content .left-side .list-group .active-item .menu-name {
  color: #1c295d;
}

body .container .custom-container .left-section .main-content .left-side .list-group .last-item {
  margin-top: auto;
  margin-bottom: 0;
}

body .container .custom-container .left-section .main-content .toggle-left-side {
  -webkit-transform: translateX(-131px);
          transform: translateX(-131px);
  width: 0;
}

body .container .custom-container .left-section .main-content .right-side {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0 0 0 11px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(120px);
          backdrop-filter: blur(120px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .container .custom-container .left-section .main-content .right-side::-webkit-scrollbar {
  width: 3px;
}

body .container .custom-container .left-section .main-content .right-side::-webkit-scrollbar-track {
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px #f6f7fb;
          box-shadow: inset 0 0 6px #f6f7fb;
}

body .container .custom-container .left-section .main-content .right-side::-webkit-scrollbar-thumb {
  background-color: #7987a5;
  border-radius: 10px;
}

body .container .custom-container .left-section .main-content .right-side .content-container {
  padding: 0 24px;
}

body .container .custom-container .left-section .main-content .right-side .row .slider-action .content-container .content-title {
  padding-top: 55px;
  padding-bottom: 47px;
  font-family: Gilroy-SemiBold;
  font-size: 20px;
}

body .container .custom-container .left-section .main-content .right-side .row .slider-action .content-container .content-title .icon {
  display: block;
  padding-top: 6px;
  margin-right: 12px;
}

body .container .custom-container .left-section .main-content .right-side .row .slider-action .content-container .card-slider-buttons {
  margin-left: auto;
}

body .container .custom-container .left-section .main-content .right-side .row .slider-action .content-container .card-slider-buttons .btn {
  padding: 9px;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider {
  height: 300px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .cursor-icon {
  position: absolute;
  top: 32%;
  left: -0;
  z-index: 3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .vertical-navbar {
  -webkit-transform: rotate(-90deg) translateX(-36%) translateY(-127%);
          transform: rotate(-90deg) translateX(-36%) translateY(-127%);
  width: 303px;
  height: 86px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .vertical-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .vertical-navbar ul li {
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  color: #adadb4;
  line-height: 18px;
  margin-right: 40px;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .vertical-navbar ul li:last-child {
  margin-right: 0;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .vertical-navbar ul .active-item {
  color: #ff6647;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper {
  width: 324%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  overflow: hidden;
  left: 86px;
  top: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card {
  width: 36%;
  background: #ffffff;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 100px 80px rgba(153, 165, 236, 0.05), 0px 64.8148px 46.8519px rgba(153, 165, 236, 0.037963), 0px 38.5185px 25.4815px rgba(153, 165, 236, 0.0303704), 0px 20px 13px rgba(153, 165, 236, 0.025), 0px 8.14815px 6.51852px rgba(153, 165, 236, 0.0196296), 0px 1.85185px 3.14815px rgba(153, 165, 236, 0.012037);
          box-shadow: 0px 100px 80px rgba(153, 165, 236, 0.05), 0px 64.8148px 46.8519px rgba(153, 165, 236, 0.037963), 0px 38.5185px 25.4815px rgba(153, 165, 236, 0.0303704), 0px 20px 13px rgba(153, 165, 236, 0.025), 0px 8.14815px 6.51852px rgba(153, 165, 236, 0.0196296), 0px 1.85185px 3.14815px rgba(153, 165, 236, 0.012037);
  border-radius: 25px;
  padding: 13px;
  margin-right: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card:hover {
  background-color: #ff6647;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card:hover .card-body .card-title {
  color: #ffffff;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card:hover .card-body .row .location .location-icon svg path {
  fill: #ffffff;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card:hover .card-body .row .location p {
  color: #ffffff;
  opacity: 1;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card:hover .card-body .row .cost {
  color: #ffffff;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card .card-header {
  padding: 0;
  border-radius: 20px;
  border: 0;
  position: relative;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card .card-header .bookmark {
  width: 36px;
  height: 36px;
  background-color: #ff6647;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border: 2.10345px solid #ffffff;
  -webkit-box-shadow: 0px 4.2069px 4.2069px rgba(255, 102, 71, 0.25);
          box-shadow: 0px 4.2069px 4.2069px rgba(255, 102, 71, 0.25);
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card .card-body {
  padding: 0;
  background-color: transparent;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card .card-body .card-title {
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  line-height: 20px;
  color: #353646;
  text-transform: capitalize;
  margin-top: 13px;
  margin-bottom: 6.6px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card .card-body .row .location p {
  font-family: Gilroy-Regular;
  font-size: 14px;
  color: #353646;
  opacity: 0.4;
  margin-left: 8px !important;
}

body .container .custom-container .left-section .main-content .right-side .row .content-slider .wrapper .card .card-body .row .cost {
  color: #34a59f;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  color: #34a59f;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs {
  margin-top: 52px !important;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs svg:not(:root) {
  vertical-align: middle;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-header .ref-title {
  font-family: Gilroy-SemiBold;
  font-size: 20px;
  color: #3e3c50;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-header .ref-title .icon {
  margin-right: 14px;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-header .config-btn {
  width: 36px;
  height: 36px;
  padding: 16px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border-radius: 10px;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards {
  width: 100%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card {
  width: 120px;
  margin-right: 13px;
  margin-bottom: 36px;
  padding: 15px 0 0 0;
  border-radius: 14px;
  cursor: pointer;
  position: relative;
  border: none;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(1) {
  background-color: #ecfaff;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(1) .btn {
  background-color: #b5d9e7;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(2) {
  background-color: #ffefbc;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(2) .btn {
  background-color: #f0db99;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(3) {
  background-color: #ffe2bf;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(3) .btn {
  background-color: #f3d0a6;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(4) {
  background-color: #eeecff;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(4) .btn {
  background-color: #e0defd;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(5) {
  background-color: #ffe8e8;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(5) .btn {
  background-color: #fcd7d7;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(6) {
  background-color: #ddffe9;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card:nth-child(6) .btn {
  background-color: #b1f1c6;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card .card-header {
  border: 0;
  background-color: transparent;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card .card-header .img-box {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(160, 230, 255, 0.2);
          box-shadow: 0px 4px 15px rgba(160, 230, 255, 0.2);
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card .card-body {
  padding: 0;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card .card-body .ref-name {
  font-family: Gilroy-SemiBold;
  font-size: 12px;
  color: #010101;
  margin-top: 7px;
  margin-bottom: 35px !important;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .ref-box .ref-cards .row .card .check-action-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: absolute;
  bottom: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 38%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box {
  padding-left: 42px !important;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .explain-graph-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Gilroy-Medium;
  font-size: 16px;
  color: #8e9fb9;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .explain-graph-elements .guest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 33px;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .explain-graph-elements .guest .guest-color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f4f5f9;
  margin-right: 10px;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .explain-graph-elements .registered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .explain-graph-elements .registered .registered-color {
  width: 44px;
  height: 18px;
  border-radius: 45px;
  background-color: #f96549;
  margin-right: 12px;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box {
  width: 100%;
  height: 100%;
  padding-bottom: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .degrees {
  width: auto;
  height: 100%;
  background-color: white;
  margin-right: 40px;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .degrees .list-group {
  height: 100%;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 36px;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .degrees .list-group .list-group-item {
  border-radius: 0;
  border: 0;
  padding: 0;
  font-family: Gilroy-Medium;
  font-size: 16px;
  color: #aab0c0;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart {
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines {
  width: 100%;
  height: 100%;
  position: relative;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .list-group {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: 0;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bg-lines {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bg-lines .list-group-item {
  border-radius: 0;
  padding: 0;
  border: 1.47959px solid #f5f4f9;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar {
  width: 15px;
  border: 0;
  background: #edefef;
  border-radius: 75.4591px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar .registered-bar {
  width: 100%;
  background-color: #f86549;
  border-radius: 75.4591px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(1) {
  height: 100%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(1) .registered-bar {
  height: 40%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(2) {
  height: 64%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(2) .registered-bar {
  height: 45%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(3) {
  height: 68%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(3) .registered-bar {
  height: 49%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(4) {
  height: 48%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(4) .registered-bar {
  height: 20%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(5) {
  height: 95%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(5) .registered-bar {
  height: 37%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(6) {
  height: 90%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(6) .registered-bar {
  height: 70%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(7) {
  height: 64%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .lines .bars .guest-bar:nth-child(7) .registered-bar {
  height: 60%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .periods {
  width: 100%;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .periods .list-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0;
  border: 0;
}

body .container .custom-container .left-section .main-content .right-side .row .content-container .graphs .graph-box .chart-box .chart .periods .list-group .list-group-item {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-family: Gilroy-Medium;
  font-size: 16px;
  color: #aab0c0;
  padding: 0;
}

body .container .custom-container .right-section {
  max-width: 397px;
  padding: 20px 18px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
  overflow-x: hidden;
  overflow-y: auto;
}

body .container .custom-container .right-section::-webkit-scrollbar {
  width: 3px;
}

body .container .custom-container .right-section::-webkit-scrollbar-track {
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
          box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
}

body .container .custom-container .right-section::-webkit-scrollbar-thumb {
  background-color: #ff6647;
  border-radius: 10px;
}

body .container .custom-container .right-section .row .slider .custom-carousel {
  width: 100%;
  max-height: 210px;
  border-radius: 10px;
  background-color: red;
  overflow: hidden;
  padding: 0;
  position: relative !important;
}

body .container .custom-container .right-section .row .slider .custom-carousel .slider-add-btn {
  font-family: SofiaPro-Regular;
  font-size: 12px;
  color: #757575;
  position: absolute;
  left: 10px;
  top: 13px;
  padding: 8px 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  z-index: 2;
}

body .container .custom-container .right-section .row .slider .custom-carousel .carousel-inner {
  width: 100%;
  background-color: #1c295d;
  overflow: hidden;
}

body .container .custom-container .right-section .row .slider .custom-carousel .carousel-inner img {
  display: block;
  width: 100%;
  height: 100%;
}

body .container .custom-container .right-section .row .right-section-title {
  font-family: SofiaPro-Regular;
  font-size: 20px;
  margin: 27px 0;
  line-height: 31px;
}

body .container .custom-container .right-section .row .side-info {
  margin-bottom: 27px !important;
}

body .container .custom-container .right-section .row .right-section-text {
  font-family: SofiaPro-Regular;
  font-size: 16px;
  color: #757575;
}

body .container .custom-container .right-section .row .side-btn {
  width: 32px;
  height: 32px;
  padding: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: -4px 14px 24px rgba(0, 0, 0, 0.06);
          box-shadow: -4px 14px 24px rgba(0, 0, 0, 0.06);
}

body .container .custom-container .right-section .row .side-btn svg {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

body .container .custom-container .right-section .row .side-btn:last-child {
  margin: 0;
}

body .container .custom-container .right-section .row .side-btn:hover {
  background-color: #757575;
}

body .container .custom-container .right-section .row .side-btn:hover svg path {
  fill: #ffffff;
}

body .container .custom-container .right-section .row .currency-value {
  font-family: SofiaPro-Black;
  font-size: 20px;
  color: #34a59f;
}

body .container .custom-container .right-section .row .currency-value .currency-logo {
  margin-right: 2px;
}

body .container .custom-container .right-section .row .side-map .list-group .list-group-item {
  font-family: SofiaPro-Regular;
  font-size: 16px;
  color: #757575;
  line-height: 25px;
}

body .container .custom-container .right-section .row .side-map .list-group .list-group-item .right-section-middle-icon {
  margin-right: 5px;
}

body .container .custom-container .right-section .row .side-map .google-map {
  width: 100%;
  height: 122px;
  padding: 0;
  border-radius: 10px;
  margin: 45px 0 40px 0;
}

body .container .custom-container .right-section .row .photo-config .title {
  font-family: SofiaPro-Regular;
  font-size: 20px;
  line-height: 31px;
}

body .container .custom-container .right-section .row .photo-config .config-btn {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .custom-container .right-section .row .photo-config .config-btn svg {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

body .container .custom-container .right-section .row .photo-grid-container {
  margin-top: 16px !important;
}

body .container .custom-container .right-section .row .photo-grid-container .col-item {
  height: 111px;
  padding-left: 0;
  padding-right: 15px;
  padding-bottom: 13px;
}

body .container .custom-container .right-section .row .photo-grid-container .col-item .grid-item {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 13px;
  overflow: hidden;
  cursor: pointer;
}

body .container .custom-container .right-section .row .photo-grid-container .col-item .grid-item:last-child {
  margin-right: 0;
}

body .container .custom-container .right-section .row .photo-grid-container .col-item .grid-item img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */